body {
    font-family: Arial, sans-serif;
    text-align: right;/*هذا اتجاه النص بالصفحة كاملة*/
    background: linear-gradient(to right, #07cef15d, #feb47b9d);/*هذا لون خلفية الصفحة كاملة بشكل عام*/
    margin: 0;
    height: 100px;
    width: 100%;

}

h1{
    margin: 15px;
    text-align: right;
    transform: translate(-15%, 30%);/*التباعد*/
    color: rgb(19, 19, 127); /* لون العنوان */

}


form {
    display:block;
    width: 50%;
    height:400px ; /*طول اللوحة البيضاء*/
    max-width: 420px;/* هنا عرض لوحة التسجيل البيضاء*/
    margin: 20px auto; /*هنا المساحة بين بطاقة اللوحة وبين عنوان اللوحة*/
    padding: 65px;/*هنا اذا اللوحة نحيفه او سمينة*/
    border: 3px solid #ccc;
    border-radius: 60px;/*هنا تطلع اللوحة مربع او دائرة*/
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    float:right;/*هنا اتجاه الحقل الابيض بشكل عام */
    margin: 1%;
    
}

input {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;

}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    float: calc(); /*اتجاه محاذاة الزر*/

}

button:hover {
    background-color: rgb(14, 105, 12);

}    

img{   
    width: 50%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

/*اخفاء زر حذف المستخدمين وزر عرض المستخدمين*/
/*
#view-users, #delete-users {
    display: none;
}
*/
